$color-meadia: #875501;
$color-policy: #870101;
$color-hotspot: #333333;
$color-technology: #014887;
$color-brand: #166E3D;
$color-personnel: #AA4F20;
$color-capital: #AA7120;

$color-main: #3660AD;
$color-text-deep: #272727;
$color-text-light: #666;
$color-v-line-light: #9CDEDA;
$color-h-line-light: #c4c4c4;