@import "reset";
@import "var";
@import "function";
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  background: #fff;
  height: 100%;
}
div{
  box-sizing: border-box;
}
.beta-dance-wrap{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.left-wrap{
  width: 487px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* box-shadow: 0 0 40px rgba(0,0,0,0.1); */
  box-shadow: 1px 0px 30px 0px rgba(48, 48, 48, 0.05);
}
.right-wrap{
  flex: 1;
  /* display: flex;
  flex-direction: column; */
}
.top-logo-wrap{
  padding-top: 30px;
  padding-left: 40px;
  height: 95px;
  border-bottom: 1px solid #F3F3F3;
  box-sizing: border-box;
}
.logo{
  width: 133px;
  height: 35px;
  display: block;
}
.book-hd {
  font-family: Microsoft YaHei;
  font-size: 24px;
  font-weight: bold;
  color: #3660AD;
  text-align: center;
  height: 96px;
  line-height: 96px;
  border-bottom: 1px solid #efefef;
}
.book-bd{
  padding: 0 40px;
  // padding-top: 180px;
  height: calc(100vh - 97px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.catalog-bd{
  padding: 28px 46px 0 62px;
  height: calc(100vh - 97px);
  overflow-x: hidden;
  overflow-y: auto;

  .first-cate{
    padding-bottom: 20px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #646A73;
    cursor: pointer;

    &:hover{
      color: $color-main;
    }
  }
  .second-cate{
    padding-bottom: 20px;
    padding-left: 24px;
    font-size: 18px;
    font-family: Microsoft YaHei;
    color: #646A73;
    cursor: pointer;
    line-height: 1.5;
    
    &:hover{
      color: $color-main;
    }
  }
  .third-cate {
    padding-bottom: 20px;
    padding-left: 48px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    color: #828994;
    cursor: pointer;
    line-height: 1.5;
    
    &:hover{
      color: $color-main;
    }
  }
}

.page-size {
  margin: 20px auto;
  width: 800px;
  height: 1072px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.cover{
  // margin-top: 150px;
  background: url(./image/cover.png) no-repeat cover;

  .cover-img{
    width: 100%;
  }
}

// 移动端
body {
  background-color: #f5f5f5;
}
.main-wrap{
  max-width:750px;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  background: #fff;
  .header {
    position: relative;
    padding: 12px 0 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 0.5px solid #F3F3F3;
    
    .logo{
      width: 90px;
      height: 23px;
    }
    
    .icon {
      position: absolute;
      top: 18px;
      left: 18px;
    }
  }
  h1{
    font-size: rem(14);
    text-align: center;
    color: $color-main;
    padding: rem(10) 0;
  }
  .page{
    background-color: #333;
    img {
      width: 100%;
    }
  }
}
