@import "reset";
@import "var";
@import "function";
html, body{
  font-family: 'Open Sans', sans-serif;
}
div{
  box-sizing: border-box;
}

// 移动端
body {
  background-color: #f5f5f5;
}
.page-wrap{
  position: relative;
  max-width:750px;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
.main-wrap{
  min-height: 100vh;
  position: relative;
  background: #fff;
  .header {
    position: relative;
    padding: 12px 0 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 0.5px solid #F3F3F3;
    
    .logo{
      width: 90px;
      height: 23px;
    }
    
    .icon {
      position: absolute;
      top: 18px;
      left: 18px;
    }
  }
  h1{
    font-size: rem(14);
    text-align: left;
    color: $color-main;
    padding: rem(10) rem(20);
    line-height: rem(20);
  }
  .page{
    margin-bottom:rem(5);
    img {
      width: 100%;
    }
  }
  .info-wrap {
    padding: rem(12);

    .flex-img-wrap{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        flex: 1;
        margin-left:6px;
        &:first-child{
          margin-left:0;
        }
      }
    }

    .flex-img-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .flex-img-wrap{
        display: flex;
        flex-direction: column;
        margin-left:6px;
        &:first-child{
          margin-left:0;
        }
      }
    }
    .qr-code{
      display: flex;
      justify-content: center;

      img {
        width: 102px;
        height: auto;
      }
    }

    cite {
      font-size: 13px;
      font-weight: 500;
    }
    .deep-title{
      color: $color-text-deep !important;
    }

    .t-center{
      text-align: center !important;
    }

    .t-title, .sub-title, .mid-title, .i-title{
      font-size: 22px;
      color: $color-main;
      padding: rem(10) 0 rem(5);
      line-height: 1.3;
    }
    .mid-title{
      font-size: 18px;
    }
    .sub-title{
      font-size: 16px;
    }
    .sub-title.title-color{
      color: $color-hotspot;
    }
    .i-title{
      margin-top: -5px;
      padding-left: 42px;
      font-size: 14px;
      background: url(../image/icon_title.png) no-repeat left 14px;
    }

    .t-description{
      margin-bottom: 10px;
      font-size: 12px;
      color: $color-text-light;
      line-height: 22px;
      text-align: justify;
    }
    .info-desc{
      font-size: 12px;
      transform: scale(0.83);
      color: $color-text-light;
      margin-left: -32px;
    }
    .info-desc.text-r{
      text-align: right;
    }
    .info-desc-box{
      display: flex;
      padding: 0 0 8px 0;
      img {
        width:26px;
        height: 25px;
      }
      p {
        flex:1;
        color: $color-main;
        font-size: 12px;
        line-height: 22px;
        padding-left: 4px;
      }
    }
    .info-desc-point{
      padding-left: 12px;
      color: $color-text-light;
      font-size: 12px;
      &::before{
        content: "•";
      }
    }
    .single-img{
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50vw;
      }
    }

    .main-color{
      color: $color-main;
    }
    .flex-text{
      display: flex;
      justify-content: space-between;
    }
    .text-top-line{
      position: relative;
      padding-top: 10px;
      border-top: 0.5px solid #9CDEDA;
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        transform: (translateX(-50%), 0, 0, -45deg);
        width: 0;
				height: 0;
				border: 8rpx solid transparent;
				border-top: 8rpx solid #333;
      }
    }
    .tb-description{
      padding: 4px 6px;
      font-size: 12px;
      color: $color-main;
      line-height: 20px;
      text-align: justify;
    }
  }
  .byte-table{
    margin-top: 24px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 2px solid #1DC6C9;

    caption{
      padding-bottom: 6px;
      font-size: 15px;
      color:$color-main;
      text-align: center;
    }

    tr{
      font-size: 10px;
      th, td{
        height: 30px;
        line-height: 30px;
        & > div, ul{
          padding: 10px;
          color: $color-main;
          font-size: 12px;
          --webkit-transform: scals(0.83)
        }
        & > div{
          line-height: 14px;
        }
        & > ul {
          box-sizing: content-box;

          li{
            position: relative;
            margin-bottom: 4px;
            font-size: 10px;
            color: $color-main;
            padding-left: 10px;
            line-height: 14px;
            
            &:before{
              position: absolute;
              top: 5px;
              left: 0;
              content: '';
              display: block;
              width: 4px;
              height: 4px;
              background: $color-main;
              border-radius: 100%;
            }
          }
        }
      }
      th{
        background-color: #E8E9ED;
        color: $color-main;
        border-right: 0.5px solid $color-h-line-light;
        &:last-child{
          border-right: 0;
        }
      }
      th.es-style{
        padding: 6px;
      }
      td {
        border-right: 0.5px solid $color-h-line-light;
        border-bottom: 0.5px solid $color-v-line-light;
        &:last-child{
          border-right: 0;
        }
      }
    }
  }

}

.slideout-menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 360px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}